# Компиляция
*.exe
*.obj
*.pdb
*.ilk
*.log
*.lib

# CMake
out/
build/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
CMakeUserPresets.json

# Visual Studio
.vs/
*.vcxproj
*.vcxproj.filters
*.sln
*.suo
*.user

# IDE
.idea/
.vscode/

# Системные
.DS_Store
Thumbs.db

# Временные файлы
*.tmp
*.temp

# Резервные копии
*~
*.bak